@font-face {
  font-family: 'fa';
  src: url('font/fa.eot?11807186');
  src: url('font/fa.eot?11807186#iefix') format('embedded-opentype'),
       url('font/fa.woff2?11807186') format('woff2'),
       url('font/fa.woff?11807186') format('woff'),
       url('font/fa.ttf?11807186') format('truetype'),
       url('font/fa.svg?11807186#fa') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fa';
    src: url('../font/fa.svg?11807186#fa') format('svg');
  }
}
*/
 
 [class^="i-"]:before, [class*=" i-"]:before {
  font-family: "fa";
  font-style: normal;
  font-weight: normal;
  speak: never;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.i-glass:before { content: '\e800'; } /* '' */
.i-music:before { content: '\e801'; } /* '' */
.i-search:before { content: '\e802'; } /* '' */
.i-mail:before { content: '\e803'; } /* '' */
.i-heart:before { content: '\e804'; } /* '' */
.i-heart-empty:before { content: '\e805'; } /* '' */
.i-star:before { content: '\e806'; } /* '' */
.i-star-empty:before { content: '\e807'; } /* '' */
.i-star-half:before { content: '\e808'; } /* '' */
.i-user:before { content: '\e809'; } /* '' */
.i-users:before { content: '\e80a'; } /* '' */
.i-video:before { content: '\e80b'; } /* '' */
.i-videocam:before { content: '\e80c'; } /* '' */
.i-picture:before { content: '\e80d'; } /* '' */
.i-camera:before { content: '\e80e'; } /* '' */
.i-camera-alt:before { content: '\e80f'; } /* '' */
.i-th-large:before { content: '\e810'; } /* '' */
.i-th:before { content: '\e811'; } /* '' */
.i-th-list:before { content: '\e812'; } /* '' */
.i-ok:before { content: '\e813'; } /* '' */
.i-ok-circled:before { content: '\e814'; } /* '' */
.i-ok-circled2:before { content: '\e815'; } /* '' */
.i-cancel:before { content: '\e816'; } /* '' */
.i-cancel-circled:before { content: '\e817'; } /* '' */
.i-cancel-circled2:before { content: '\e818'; } /* '' */
.i-plus:before { content: '\e819'; } /* '' */
.i-plus-circled:before { content: '\e81a'; } /* '' */
.i-minus:before { content: '\e81b'; } /* '' */
.i-minus-circled:before { content: '\e81c'; } /* '' */
.i-help-circled:before { content: '\e81d'; } /* '' */
.i-info-circled:before { content: '\e81e'; } /* '' */
.i-home:before { content: '\e81f'; } /* '' */
.i-link:before { content: '\e820'; } /* '' */
.i-attach:before { content: '\e821'; } /* '' */
.i-lock:before { content: '\e822'; } /* '' */
.i-lock-open:before { content: '\e823'; } /* '' */
.i-pin:before { content: '\e824'; } /* '' */
.i-eye:before { content: '\e825'; } /* '' */
.i-eye-off:before { content: '\e826'; } /* '' */
.i-tag:before { content: '\e827'; } /* '' */
.i-tags:before { content: '\e828'; } /* '' */
.i-bookmark:before { content: '\e829'; } /* '' */
.i-flag:before { content: '\e82a'; } /* '' */
.i-thumbs-up:before { content: '\e82b'; } /* '' */
.i-thumbs-down:before { content: '\e82c'; } /* '' */
.i-download:before { content: '\e82d'; } /* '' */
.i-upload:before { content: '\e82e'; } /* '' */
.i-forward:before { content: '\e82f'; } /* '' */
.i-export:before { content: '\e830'; } /* '' */
.i-pencil:before { content: '\e831'; } /* '' */
.i-edit:before { content: '\e832'; } /* '' */
.i-print:before { content: '\e833'; } /* '' */
.i-retweet:before { content: '\e834'; } /* '' */
.i-comment:before { content: '\e835'; } /* '' */
.i-chat:before { content: '\e836'; } /* '' */
.i-bell:before { content: '\e837'; } /* '' */
.i-attention:before { content: '\e838'; } /* '' */
.i-attention-circled:before { content: '\e839'; } /* '' */
.i-location:before { content: '\e83a'; } /* '' */
.i-trash-empty:before { content: '\e83b'; } /* '' */
.i-doc:before { content: '\e83c'; } /* '' */
.i-folder:before { content: '\e83d'; } /* '' */
.i-folder-open:before { content: '\e83e'; } /* '' */
.i-phone:before { content: '\e83f'; } /* '' */
.i-cog:before { content: '\e840'; } /* '' */
.i-cog-alt:before { content: '\e841'; } /* '' */
.i-wrench:before { content: '\e842'; } /* '' */
.i-basket:before { content: '\e843'; } /* '' */
.i-calendar:before { content: '\e844'; } /* '' */
.i-login:before { content: '\e845'; } /* '' */
.i-logout:before { content: '\e846'; } /* '' */
.i-volume-off:before { content: '\e847'; } /* '' */
.i-volume-down:before { content: '\e848'; } /* '' */
.i-volume-up:before { content: '\e849'; } /* '' */
.i-headphones:before { content: '\e84a'; } /* '' */
.i-clock:before { content: '\e84b'; } /* '' */
.i-block:before { content: '\e84c'; } /* '' */
.i-resize-full:before { content: '\e84d'; } /* '' */
.i-resize-small:before { content: '\e84e'; } /* '' */
.i-resize-vertical:before { content: '\e84f'; } /* '' */
.i-resize-horizontal:before { content: '\e850'; } /* '' */
.i-zoom-in:before { content: '\e851'; } /* '' */
.i-zoom-out:before { content: '\e852'; } /* '' */
.i-down-circled2:before { content: '\e853'; } /* '' */
.i-up-circled2:before { content: '\e854'; } /* '' */
.i-down-dir:before { content: '\e855'; } /* '' */
.i-up-dir:before { content: '\e856'; } /* '' */
.i-left-dir:before { content: '\e857'; } /* '' */
.i-right-dir:before { content: '\e858'; } /* '' */
.i-down-open:before { content: '\e859'; } /* '' */
.i-left-open:before { content: '\e85a'; } /* '' */
.i-right-open:before { content: '\e85b'; } /* '' */
.i-up-open:before { content: '\e85c'; } /* '' */
.i-down-big:before { content: '\e85d'; } /* '' */
.i-left-big:before { content: '\e85e'; } /* '' */
.i-right-big:before { content: '\e85f'; } /* '' */
.i-up-big:before { content: '\e860'; } /* '' */
.i-right-hand:before { content: '\e861'; } /* '' */
.i-left-hand:before { content: '\e862'; } /* '' */
.i-up-hand:before { content: '\e863'; } /* '' */
.i-down-hand:before { content: '\e864'; } /* '' */
.i-cw:before { content: '\e865'; } /* '' */
.i-ccw:before { content: '\e866'; } /* '' */
.i-arrows-cw:before { content: '\e867'; } /* '' */
.i-shuffle:before { content: '\e868'; } /* '' */
.i-play:before { content: '\e869'; } /* '' */
.i-play-circled2:before { content: '\e86a'; } /* '' */
.i-stop:before { content: '\e86b'; } /* '' */
.i-pause:before { content: '\e86c'; } /* '' */
.i-to-end:before { content: '\e86d'; } /* '' */
.i-to-end-alt:before { content: '\e86e'; } /* '' */
.i-to-start:before { content: '\e86f'; } /* '' */
.i-to-start-alt:before { content: '\e870'; } /* '' */
.i-fast-fw:before { content: '\e871'; } /* '' */
.i-fast-bw:before { content: '\e872'; } /* '' */
.i-eject:before { content: '\e873'; } /* '' */
.i-target:before { content: '\e874'; } /* '' */
.i-signal:before { content: '\e875'; } /* '' */
.i-award:before { content: '\e876'; } /* '' */
.i-inbox:before { content: '\e877'; } /* '' */
.i-globe:before { content: '\e878'; } /* '' */
.i-cloud:before { content: '\e879'; } /* '' */
.i-flash:before { content: '\e87a'; } /* '' */
.i-umbrella:before { content: '\e87b'; } /* '' */
.i-flight:before { content: '\e87c'; } /* '' */
.i-leaf:before { content: '\e87d'; } /* '' */
.i-font:before { content: '\e87e'; } /* '' */
.i-bold:before { content: '\e87f'; } /* '' */
.i-italic:before { content: '\e880'; } /* '' */
.i-text-height:before { content: '\e881'; } /* '' */
.i-text-width:before { content: '\e882'; } /* '' */
.i-align-left:before { content: '\e883'; } /* '' */
.i-align-center:before { content: '\e884'; } /* '' */
.i-align-right:before { content: '\e885'; } /* '' */
.i-align-justify:before { content: '\e886'; } /* '' */
.i-list:before { content: '\e887'; } /* '' */
.i-indent-left:before { content: '\e888'; } /* '' */
.i-indent-right:before { content: '\e889'; } /* '' */
.i-scissors:before { content: '\e88a'; } /* '' */
.i-briefcase:before { content: '\e88b'; } /* '' */
.i-off:before { content: '\e88c'; } /* '' */
.i-road:before { content: '\e88d'; } /* '' */
.i-list-alt:before { content: '\e88e'; } /* '' */
.i-qrcode:before { content: '\e88f'; } /* '' */
.i-barcode:before { content: '\e890'; } /* '' */
.i-book:before { content: '\e891'; } /* '' */
.i-adjust:before { content: '\e892'; } /* '' */
.i-tint:before { content: '\e893'; } /* '' */
.i-check:before { content: '\e894'; } /* '' */
.i-asterisk:before { content: '\e895'; } /* '' */
.i-gift:before { content: '\e896'; } /* '' */
.i-fire:before { content: '\e897'; } /* '' */
.i-magnet:before { content: '\e898'; } /* '' */
.i-chart-bar:before { content: '\e899'; } /* '' */
.i-credit-card:before { content: '\e89a'; } /* '' */
.i-floppy:before { content: '\e89b'; } /* '' */
.i-megaphone:before { content: '\e89c'; } /* '' */
.i-key:before { content: '\e89d'; } /* '' */
.i-truck:before { content: '\e89e'; } /* '' */
.i-hammer:before { content: '\e89f'; } /* '' */
.i-lemon:before { content: '\e8a0'; } /* '' */
.i-move:before { content: '\f047'; } /* '' */
.i-link-ext:before { content: '\f08e'; } /* '' */
.i-check-empty:before { content: '\f096'; } /* '' */
.i-bookmark-empty:before { content: '\f097'; } /* '' */
.i-phone-squared:before { content: '\f098'; } /* '' */
.i-twitter:before { content: '\f099'; } /* '' */
.i-facebook:before { content: '\f09a'; } /* '' */
.i-github-circled:before { content: '\f09b'; } /* '' */
.i-rss:before { content: '\f09e'; } /* '' */
.i-hdd:before { content: '\f0a0'; } /* '' */
.i-certificate:before { content: '\f0a3'; } /* '' */
.i-left-circled:before { content: '\f0a8'; } /* '' */
.i-right-circled:before { content: '\f0a9'; } /* '' */
.i-up-circled:before { content: '\f0aa'; } /* '' */
.i-down-circled:before { content: '\f0ab'; } /* '' */
.i-tasks:before { content: '\f0ae'; } /* '' */
.i-filter:before { content: '\f0b0'; } /* '' */
.i-resize-full-alt:before { content: '\f0b2'; } /* '' */
.i-beaker:before { content: '\f0c3'; } /* '' */
.i-docs:before { content: '\f0c5'; } /* '' */
.i-blank:before { content: '\f0c8'; } /* '' */
.i-menu:before { content: '\f0c9'; } /* '' */
.i-list-bullet:before { content: '\f0ca'; } /* '' */
.i-list-numbered:before { content: '\f0cb'; } /* '' */
.i-strike:before { content: '\f0cc'; } /* '' */
.i-underline:before { content: '\f0cd'; } /* '' */
.i-table:before { content: '\f0ce'; } /* '' */
.i-magic:before { content: '\f0d0'; } /* '' */
.i-pinterest-circled:before { content: '\f0d2'; } /* '' */
.i-pinterest-squared:before { content: '\f0d3'; } /* '' */
.i-gplus-squared:before { content: '\f0d4'; } /* '' */
.i-gplus:before { content: '\f0d5'; } /* '' */
.i-money:before { content: '\f0d6'; } /* '' */
.i-columns:before { content: '\f0db'; } /* '' */
.i-sort:before { content: '\f0dc'; } /* '' */
.i-sort-down:before { content: '\f0dd'; } /* '' */
.i-sort-up:before { content: '\f0de'; } /* '' */
.i-mail-alt:before { content: '\f0e0'; } /* '' */
.i-linkedin:before { content: '\f0e1'; } /* '' */
.i-gauge:before { content: '\f0e4'; } /* '' */
.i-comment-empty:before { content: '\f0e5'; } /* '' */
.i-chat-empty:before { content: '\f0e6'; } /* '' */
.i-sitemap:before { content: '\f0e8'; } /* '' */
.i-paste:before { content: '\f0ea'; } /* '' */
.i-lightbulb:before { content: '\f0eb'; } /* '' */
.i-exchange:before { content: '\f0ec'; } /* '' */
.i-download-cloud:before { content: '\f0ed'; } /* '' */
.i-upload-cloud:before { content: '\f0ee'; } /* '' */
.i-user-md:before { content: '\f0f0'; } /* '' */
.i-stethoscope:before { content: '\f0f1'; } /* '' */
.i-suitcase:before { content: '\f0f2'; } /* '' */
.i-bell-alt:before { content: '\f0f3'; } /* '' */
.i-coffee:before { content: '\f0f4'; } /* '' */
.i-food:before { content: '\f0f5'; } /* '' */
.i-doc-text:before { content: '\f0f6'; } /* '' */
.i-building:before { content: '\f0f7'; } /* '' */
.i-hospital:before { content: '\f0f8'; } /* '' */
.i-ambulance:before { content: '\f0f9'; } /* '' */
.i-medkit:before { content: '\f0fa'; } /* '' */
.i-fighter-jet:before { content: '\f0fb'; } /* '' */
.i-beer:before { content: '\f0fc'; } /* '' */
.i-h-sigh:before { content: '\f0fd'; } /* '' */
.i-plus-squared:before { content: '\f0fe'; } /* '' */
.i-angle-double-left:before { content: '\f100'; } /* '' */
.i-angle-double-right:before { content: '\f101'; } /* '' */
.i-angle-double-up:before { content: '\f102'; } /* '' */
.i-angle-double-down:before { content: '\f103'; } /* '' */
.i-angle-left:before { content: '\f104'; } /* '' */
.i-angle-right:before { content: '\f105'; } /* '' */
.i-angle-up:before { content: '\f106'; } /* '' */
.i-angle-down:before { content: '\f107'; } /* '' */
.i-desktop:before { content: '\f108'; } /* '' */
.i-laptop:before { content: '\f109'; } /* '' */
.i-tablet:before { content: '\f10a'; } /* '' */
.i-mobile:before { content: '\f10b'; } /* '' */
.i-circle-empty:before { content: '\f10c'; } /* '' */
.i-quote-left:before { content: '\f10d'; } /* '' */
.i-quote-right:before { content: '\f10e'; } /* '' */
.i-spinner:before { content: '\f110'; } /* '' */
.i-circle:before { content: '\f111'; } /* '' */
.i-reply:before { content: '\f112'; } /* '' */
.i-github:before { content: '\f113'; } /* '' */
.i-folder-empty:before { content: '\f114'; } /* '' */
.i-folder-open-empty:before { content: '\f115'; } /* '' */
.i-smile:before { content: '\f118'; } /* '' */
.i-frown:before { content: '\f119'; } /* '' */
.i-meh:before { content: '\f11a'; } /* '' */
.i-gamepad:before { content: '\f11b'; } /* '' */
.i-keyboard:before { content: '\f11c'; } /* '' */
.i-flag-empty:before { content: '\f11d'; } /* '' */
.i-flag-checkered:before { content: '\f11e'; } /* '' */
.i-terminal:before { content: '\f120'; } /* '' */
.i-code:before { content: '\f121'; } /* '' */
.i-reply-all:before { content: '\f122'; } /* '' */
.i-star-half-alt:before { content: '\f123'; } /* '' */
.i-direction:before { content: '\f124'; } /* '' */
.i-crop:before { content: '\f125'; } /* '' */
.i-fork:before { content: '\f126'; } /* '' */
.i-unlink:before { content: '\f127'; } /* '' */
.i-help:before { content: '\f128'; } /* '' */
.i-info:before { content: '\f129'; } /* '' */
.i-attention-alt:before { content: '\f12a'; } /* '' */
.i-superscript:before { content: '\f12b'; } /* '' */
.i-subscript:before { content: '\f12c'; } /* '' */
.i-eraser:before { content: '\f12d'; } /* '' */
.i-puzzle:before { content: '\f12e'; } /* '' */
.i-mic:before { content: '\f130'; } /* '' */
.i-mute:before { content: '\f131'; } /* '' */
.i-shield:before { content: '\f132'; } /* '' */
.i-calendar-empty:before { content: '\f133'; } /* '' */
.i-extinguisher:before { content: '\f134'; } /* '' */
.i-rocket:before { content: '\f135'; } /* '' */
.i-maxcdn:before { content: '\f136'; } /* '' */
.i-angle-circled-left:before { content: '\f137'; } /* '' */
.i-angle-circled-right:before { content: '\f138'; } /* '' */
.i-angle-circled-up:before { content: '\f139'; } /* '' */
.i-angle-circled-down:before { content: '\f13a'; } /* '' */
.i-html5:before { content: '\f13b'; } /* '' */
.i-css3:before { content: '\f13c'; } /* '' */
.i-anchor:before { content: '\f13d'; } /* '' */
.i-lock-open-alt:before { content: '\f13e'; } /* '' */
.i-bullseye:before { content: '\f140'; } /* '' */
.i-ellipsis:before { content: '\f141'; } /* '' */
.i-ellipsis-vert:before { content: '\f142'; } /* '' */
.i-rss-squared:before { content: '\f143'; } /* '' */
.i-play-circled:before { content: '\f144'; } /* '' */
.i-ticket:before { content: '\f145'; } /* '' */
.i-minus-squared:before { content: '\f146'; } /* '' */
.i-minus-squared-alt:before { content: '\f147'; } /* '' */
.i-level-up:before { content: '\f148'; } /* '' */
.i-level-down:before { content: '\f149'; } /* '' */
.i-ok-squared:before { content: '\f14a'; } /* '' */
.i-pencil-squared:before { content: '\f14b'; } /* '' */
.i-link-ext-alt:before { content: '\f14c'; } /* '' */
.i-export-alt:before { content: '\f14d'; } /* '' */
.i-compass:before { content: '\f14e'; } /* '' */
.i-expand:before { content: '\f150'; } /* '' */
.i-collapse:before { content: '\f151'; } /* '' */
.i-expand-right:before { content: '\f152'; } /* '' */
.i-euro:before { content: '\f153'; } /* '' */
.i-pound:before { content: '\f154'; } /* '' */
.i-dollar:before { content: '\f155'; } /* '' */
.i-rupee:before { content: '\f156'; } /* '' */
.i-yen:before { content: '\f157'; } /* '' */
.i-rouble:before { content: '\f158'; } /* '' */
.i-won:before { content: '\f159'; } /* '' */
.i-bitcoin:before { content: '\f15a'; } /* '' */
.i-doc-inv:before { content: '\f15b'; } /* '' */
.i-doc-text-inv:before { content: '\f15c'; } /* '' */
.i-sort-name-up:before { content: '\f15d'; } /* '' */
.i-sort-name-down:before { content: '\f15e'; } /* '' */
.i-sort-alt-up:before { content: '\f160'; } /* '' */
.i-sort-alt-down:before { content: '\f161'; } /* '' */
.i-sort-number-up:before { content: '\f162'; } /* '' */
.i-sort-number-down:before { content: '\f163'; } /* '' */
.i-thumbs-up-alt:before { content: '\f164'; } /* '' */
.i-thumbs-down-alt:before { content: '\f165'; } /* '' */
.i-youtube-squared:before { content: '\f166'; } /* '' */
.i-youtube:before { content: '\f167'; } /* '' */
.i-xing:before { content: '\f168'; } /* '' */
.i-xing-squared:before { content: '\f169'; } /* '' */
.i-youtube-play:before { content: '\f16a'; } /* '' */
.i-dropbox:before { content: '\f16b'; } /* '' */
.i-stackoverflow:before { content: '\f16c'; } /* '' */
.i-instagram:before { content: '\f16d'; } /* '' */
.i-flickr:before { content: '\f16e'; } /* '' */
.i-adn:before { content: '\f170'; } /* '' */
.i-bitbucket:before { content: '\f171'; } /* '' */
.i-bitbucket-squared:before { content: '\f172'; } /* '' */
.i-tumblr:before { content: '\f173'; } /* '' */
.i-tumblr-squared:before { content: '\f174'; } /* '' */
.i-down:before { content: '\f175'; } /* '' */
.i-up:before { content: '\f176'; } /* '' */
.i-left:before { content: '\f177'; } /* '' */
.i-right:before { content: '\f178'; } /* '' */
.i-apple:before { content: '\f179'; } /* '' */
.i-windows:before { content: '\f17a'; } /* '' */
.i-android:before { content: '\f17b'; } /* '' */
.i-linux:before { content: '\f17c'; } /* '' */
.i-dribbble:before { content: '\f17d'; } /* '' */
.i-skype:before { content: '\f17e'; } /* '' */
.i-foursquare:before { content: '\f180'; } /* '' */
.i-trello:before { content: '\f181'; } /* '' */
.i-female:before { content: '\f182'; } /* '' */
.i-male:before { content: '\f183'; } /* '' */
.i-gittip:before { content: '\f184'; } /* '' */
.i-sun:before { content: '\f185'; } /* '' */
.i-moon:before { content: '\f186'; } /* '' */
.i-box:before { content: '\f187'; } /* '' */
.i-bug:before { content: '\f188'; } /* '' */
.i-vkontakte:before { content: '\f189'; } /* '' */
.i-weibo:before { content: '\f18a'; } /* '' */
.i-renren:before { content: '\f18b'; } /* '' */
.i-pagelines:before { content: '\f18c'; } /* '' */
.i-stackexchange:before { content: '\f18d'; } /* '' */
.i-right-circled2:before { content: '\f18e'; } /* '' */
.i-left-circled2:before { content: '\f190'; } /* '' */
.i-collapse-left:before { content: '\f191'; } /* '' */
.i-dot-circled:before { content: '\f192'; } /* '' */
.i-wheelchair:before { content: '\f193'; } /* '' */
.i-vimeo-squared:before { content: '\f194'; } /* '' */
.i-try:before { content: '\f195'; } /* '' */
.i-plus-squared-alt:before { content: '\f196'; } /* '' */
.i-space-shuttle:before { content: '\f197'; } /* '' */
.i-slack:before { content: '\f198'; } /* '' */
.i-mail-squared:before { content: '\f199'; } /* '' */
.i-wordpress:before { content: '\f19a'; } /* '' */
.i-openid:before { content: '\f19b'; } /* '' */
.i-bank:before { content: '\f19c'; } /* '' */
.i-graduation-cap:before { content: '\f19d'; } /* '' */
.i-yahoo:before { content: '\f19e'; } /* '' */
.i-google:before { content: '\f1a0'; } /* '' */
.i-reddit:before { content: '\f1a1'; } /* '' */
.i-reddit-squared:before { content: '\f1a2'; } /* '' */
.i-stumbleupon-circled:before { content: '\f1a3'; } /* '' */
.i-stumbleupon:before { content: '\f1a4'; } /* '' */
.i-delicious:before { content: '\f1a5'; } /* '' */
.i-digg:before { content: '\f1a6'; } /* '' */
.i-pied-piper-squared:before { content: '\f1a7'; } /* '' */
.i-pied-piper-alt:before { content: '\f1a8'; } /* '' */
.i-drupal:before { content: '\f1a9'; } /* '' */
.i-joomla:before { content: '\f1aa'; } /* '' */
.i-language:before { content: '\f1ab'; } /* '' */
.i-fax:before { content: '\f1ac'; } /* '' */
.i-building-filled:before { content: '\f1ad'; } /* '' */
.i-child:before { content: '\f1ae'; } /* '' */
.i-paw:before { content: '\f1b0'; } /* '' */
.i-spoon:before { content: '\f1b1'; } /* '' */
.i-cube:before { content: '\f1b2'; } /* '' */
.i-cubes:before { content: '\f1b3'; } /* '' */
.i-behance:before { content: '\f1b4'; } /* '' */
.i-behance-squared:before { content: '\f1b5'; } /* '' */
.i-steam:before { content: '\f1b6'; } /* '' */
.i-steam-squared:before { content: '\f1b7'; } /* '' */
.i-recycle:before { content: '\f1b8'; } /* '' */
.i-cab:before { content: '\f1b9'; } /* '' */
.i-taxi:before { content: '\f1ba'; } /* '' */
.i-tree:before { content: '\f1bb'; } /* '' */
.i-spotify:before { content: '\f1bc'; } /* '' */
.i-deviantart:before { content: '\f1bd'; } /* '' */
.i-soundcloud:before { content: '\f1be'; } /* '' */
.i-database:before { content: '\f1c0'; } /* '' */
.i-file-pdf:before { content: '\f1c1'; } /* '' */
.i-file-word:before { content: '\f1c2'; } /* '' */
.i-file-excel:before { content: '\f1c3'; } /* '' */
.i-file-powerpoint:before { content: '\f1c4'; } /* '' */
.i-file-image:before { content: '\f1c5'; } /* '' */
.i-file-archive:before { content: '\f1c6'; } /* '' */
.i-file-audio:before { content: '\f1c7'; } /* '' */
.i-file-video:before { content: '\f1c8'; } /* '' */
.i-file-code:before { content: '\f1c9'; } /* '' */
.i-vine:before { content: '\f1ca'; } /* '' */
.i-codeopen:before { content: '\f1cb'; } /* '' */
.i-jsfiddle:before { content: '\f1cc'; } /* '' */
.i-lifebuoy:before { content: '\f1cd'; } /* '' */
.i-circle-notch:before { content: '\f1ce'; } /* '' */
.i-rebel:before { content: '\f1d0'; } /* '' */
.i-empire:before { content: '\f1d1'; } /* '' */
.i-git-squared:before { content: '\f1d2'; } /* '' */
.i-git:before { content: '\f1d3'; } /* '' */
.i-hacker-news:before { content: '\f1d4'; } /* '' */
.i-tencent-weibo:before { content: '\f1d5'; } /* '' */
.i-qq:before { content: '\f1d6'; } /* '' */
.i-wechat:before { content: '\f1d7'; } /* '' */
.i-paper-plane:before { content: '\f1d8'; } /* '' */
.i-paper-plane-empty:before { content: '\f1d9'; } /* '' */
.i-history:before { content: '\f1da'; } /* '' */
.i-circle-thin:before { content: '\f1db'; } /* '' */
.i-header:before { content: '\f1dc'; } /* '' */
.i-paragraph:before { content: '\f1dd'; } /* '' */
.i-sliders:before { content: '\f1de'; } /* '' */
.i-share:before { content: '\f1e0'; } /* '' */
.i-share-squared:before { content: '\f1e1'; } /* '' */
.i-bomb:before { content: '\f1e2'; } /* '' */
.i-soccer-ball:before { content: '\f1e3'; } /* '' */
.i-tty:before { content: '\f1e4'; } /* '' */
.i-binoculars:before { content: '\f1e5'; } /* '' */
.i-plug:before { content: '\f1e6'; } /* '' */
.i-slideshare:before { content: '\f1e7'; } /* '' */
.i-twitch:before { content: '\f1e8'; } /* '' */
.i-yelp:before { content: '\f1e9'; } /* '' */
.i-newspaper:before { content: '\f1ea'; } /* '' */
.i-wifi:before { content: '\f1eb'; } /* '' */
.i-calc:before { content: '\f1ec'; } /* '' */
.i-paypal:before { content: '\f1ed'; } /* '' */
.i-gwallet:before { content: '\f1ee'; } /* '' */
.i-cc-visa:before { content: '\f1f0'; } /* '' */
.i-cc-mastercard:before { content: '\f1f1'; } /* '' */
.i-cc-discover:before { content: '\f1f2'; } /* '' */
.i-cc-amex:before { content: '\f1f3'; } /* '' */
.i-cc-paypal:before { content: '\f1f4'; } /* '' */
.i-cc-stripe:before { content: '\f1f5'; } /* '' */
.i-bell-off:before { content: '\f1f6'; } /* '' */
.i-bell-off-empty:before { content: '\f1f7'; } /* '' */
.i-trash:before { content: '\f1f8'; } /* '' */
.i-copyright:before { content: '\f1f9'; } /* '' */
.i-at:before { content: '\f1fa'; } /* '' */
.i-eyedropper:before { content: '\f1fb'; } /* '' */
.i-brush:before { content: '\f1fc'; } /* '' */
.i-birthday:before { content: '\f1fd'; } /* '' */
.i-chart-area:before { content: '\f1fe'; } /* '' */
.i-chart-pie:before { content: '\f200'; } /* '' */
.i-chart-line:before { content: '\f201'; } /* '' */
.i-lastfm:before { content: '\f202'; } /* '' */
.i-lastfm-squared:before { content: '\f203'; } /* '' */
.i-toggle-off:before { content: '\f204'; } /* '' */
.i-toggle-on:before { content: '\f205'; } /* '' */
.i-bicycle:before { content: '\f206'; } /* '' */
.i-bus:before { content: '\f207'; } /* '' */
.i-ioxhost:before { content: '\f208'; } /* '' */
.i-angellist:before { content: '\f209'; } /* '' */
.i-cc:before { content: '\f20a'; } /* '' */
.i-shekel:before { content: '\f20b'; } /* '' */
.i-meanpath:before { content: '\f20c'; } /* '' */
.i-buysellads:before { content: '\f20d'; } /* '' */
.i-connectdevelop:before { content: '\f20e'; } /* '' */
.i-dashcube:before { content: '\f210'; } /* '' */
.i-forumbee:before { content: '\f211'; } /* '' */
.i-leanpub:before { content: '\f212'; } /* '' */
.i-sellsy:before { content: '\f213'; } /* '' */
.i-shirtsinbulk:before { content: '\f214'; } /* '' */
.i-simplybuilt:before { content: '\f215'; } /* '' */
.i-skyatlas:before { content: '\f216'; } /* '' */
.i-cart-plus:before { content: '\f217'; } /* '' */
.i-cart-arrow-down:before { content: '\f218'; } /* '' */
.i-diamond:before { content: '\f219'; } /* '' */
.i-ship:before { content: '\f21a'; } /* '' */
.i-user-secret:before { content: '\f21b'; } /* '' */
.i-motorcycle:before { content: '\f21c'; } /* '' */
.i-street-view:before { content: '\f21d'; } /* '' */
.i-heartbeat:before { content: '\f21e'; } /* '' */
.i-venus:before { content: '\f221'; } /* '' */
.i-mars:before { content: '\f222'; } /* '' */
.i-mercury:before { content: '\f223'; } /* '' */
.i-transgender:before { content: '\f224'; } /* '' */
.i-transgender-alt:before { content: '\f225'; } /* '' */
.i-venus-double:before { content: '\f226'; } /* '' */
.i-mars-double:before { content: '\f227'; } /* '' */
.i-venus-mars:before { content: '\f228'; } /* '' */
.i-mars-stroke:before { content: '\f229'; } /* '' */
.i-mars-stroke-v:before { content: '\f22a'; } /* '' */
.i-mars-stroke-h:before { content: '\f22b'; } /* '' */
.i-neuter:before { content: '\f22c'; } /* '' */
.i-genderless:before { content: '\f22d'; } /* '' */
.i-facebook-official:before { content: '\f230'; } /* '' */
.i-pinterest:before { content: '\f231'; } /* '' */
.i-whatsapp:before { content: '\f232'; } /* '' */
.i-server:before { content: '\f233'; } /* '' */
.i-user-plus:before { content: '\f234'; } /* '' */
.i-user-times:before { content: '\f235'; } /* '' */
.i-bed:before { content: '\f236'; } /* '' */
.i-viacoin:before { content: '\f237'; } /* '' */
.i-train:before { content: '\f238'; } /* '' */
.i-subway:before { content: '\f239'; } /* '' */
.i-medium:before { content: '\f23a'; } /* '' */
.i-y-combinator:before { content: '\f23b'; } /* '' */
.i-optin-monster:before { content: '\f23c'; } /* '' */
.i-opencart:before { content: '\f23d'; } /* '' */
.i-expeditedssl:before { content: '\f23e'; } /* '' */
.i-battery-4:before { content: '\f240'; } /* '' */
.i-battery-3:before { content: '\f241'; } /* '' */
.i-battery-2:before { content: '\f242'; } /* '' */
.i-battery-1:before { content: '\f243'; } /* '' */
.i-battery-0:before { content: '\f244'; } /* '' */
.i-mouse-pointer:before { content: '\f245'; } /* '' */
.i-i-cursor:before { content: '\f246'; } /* '' */
.i-object-group:before { content: '\f247'; } /* '' */
.i-object-ungroup:before { content: '\f248'; } /* '' */
.i-sticky-note:before { content: '\f249'; } /* '' */
.i-sticky-note-o:before { content: '\f24a'; } /* '' */
.i-cc-jcb:before { content: '\f24b'; } /* '' */
.i-cc-diners-club:before { content: '\f24c'; } /* '' */
.i-clone:before { content: '\f24d'; } /* '' */
.i-balance-scale:before { content: '\f24e'; } /* '' */
.i-hourglass-o:before { content: '\f250'; } /* '' */
.i-hourglass-1:before { content: '\f251'; } /* '' */
.i-hourglass-2:before { content: '\f252'; } /* '' */
.i-hourglass-3:before { content: '\f253'; } /* '' */
.i-hourglass:before { content: '\f254'; } /* '' */
.i-hand-grab-o:before { content: '\f255'; } /* '' */
.i-hand-paper-o:before { content: '\f256'; } /* '' */
.i-hand-scissors-o:before { content: '\f257'; } /* '' */
.i-hand-lizard-o:before { content: '\f258'; } /* '' */
.i-hand-spock-o:before { content: '\f259'; } /* '' */
.i-hand-pointer-o:before { content: '\f25a'; } /* '' */
.i-hand-peace-o:before { content: '\f25b'; } /* '' */
.i-trademark:before { content: '\f25c'; } /* '' */
.i-registered:before { content: '\f25d'; } /* '' */
.i-creative-commons:before { content: '\f25e'; } /* '' */
.i-gg:before { content: '\f260'; } /* '' */
.i-gg-circle:before { content: '\f261'; } /* '' */
.i-tripadvisor:before { content: '\f262'; } /* '' */
.i-odnoklassniki:before { content: '\f263'; } /* '' */
.i-odnoklassniki-square:before { content: '\f264'; } /* '' */
.i-get-pocket:before { content: '\f265'; } /* '' */
.i-wikipedia-w:before { content: '\f266'; } /* '' */
.i-safari:before { content: '\f267'; } /* '' */
.i-chrome:before { content: '\f268'; } /* '' */
.i-firefox:before { content: '\f269'; } /* '' */
.i-opera:before { content: '\f26a'; } /* '' */
.i-internet-explorer:before { content: '\f26b'; } /* '' */
.i-television:before { content: '\f26c'; } /* '' */
.i-contao:before { content: '\f26d'; } /* '' */
.i-500px:before { content: '\f26e'; } /* '' */
.i-amazon:before { content: '\f270'; } /* '' */
.i-calendar-plus-o:before { content: '\f271'; } /* '' */
.i-calendar-minus-o:before { content: '\f272'; } /* '' */
.i-calendar-times-o:before { content: '\f273'; } /* '' */
.i-calendar-check-o:before { content: '\f274'; } /* '' */
.i-industry:before { content: '\f275'; } /* '' */
.i-map-pin:before { content: '\f276'; } /* '' */
.i-map-signs:before { content: '\f277'; } /* '' */
.i-map-o:before { content: '\f278'; } /* '' */
.i-map:before { content: '\f279'; } /* '' */
.i-commenting:before { content: '\f27a'; } /* '' */
.i-commenting-o:before { content: '\f27b'; } /* '' */
.i-houzz:before { content: '\f27c'; } /* '' */
.i-vimeo:before { content: '\f27d'; } /* '' */
.i-black-tie:before { content: '\f27e'; } /* '' */
.i-fonticons:before { content: '\f280'; } /* '' */
.i-reddit-alien:before { content: '\f281'; } /* '' */
.i-edge:before { content: '\f282'; } /* '' */
.i-credit-card-alt:before { content: '\f283'; } /* '' */
.i-codiepie:before { content: '\f284'; } /* '' */
.i-modx:before { content: '\f285'; } /* '' */
.i-fort-awesome:before { content: '\f286'; } /* '' */
.i-usb:before { content: '\f287'; } /* '' */
.i-product-hunt:before { content: '\f288'; } /* '' */
.i-mixcloud:before { content: '\f289'; } /* '' */
.i-scribd:before { content: '\f28a'; } /* '' */
.i-pause-circle:before { content: '\f28b'; } /* '' */
.i-pause-circle-o:before { content: '\f28c'; } /* '' */
.i-stop-circle:before { content: '\f28d'; } /* '' */
.i-stop-circle-o:before { content: '\f28e'; } /* '' */
.i-shopping-bag:before { content: '\f290'; } /* '' */
.i-shopping-basket:before { content: '\f291'; } /* '' */
.i-hashtag:before { content: '\f292'; } /* '' */
.i-bluetooth:before { content: '\f293'; } /* '' */
.i-bluetooth-b:before { content: '\f294'; } /* '' */
.i-percent:before { content: '\f295'; } /* '' */
.i-gitlab:before { content: '\f296'; } /* '' */
.i-wpbeginner:before { content: '\f297'; } /* '' */
.i-wpforms:before { content: '\f298'; } /* '' */
.i-envira:before { content: '\f299'; } /* '' */
.i-universal-access:before { content: '\f29a'; } /* '' */
.i-wheelchair-alt:before { content: '\f29b'; } /* '' */
.i-question-circle-o:before { content: '\f29c'; } /* '' */
.i-blind:before { content: '\f29d'; } /* '' */
.i-audio-description:before { content: '\f29e'; } /* '' */
.i-volume-control-phone:before { content: '\f2a0'; } /* '' */
.i-braille:before { content: '\f2a1'; } /* '' */
.i-assistive-listening-systems:before { content: '\f2a2'; } /* '' */
.i-american-sign-language-interpreting:before { content: '\f2a3'; } /* '' */
.i-asl-interpreting:before { content: '\f2a4'; } /* '' */
.i-glide:before { content: '\f2a5'; } /* '' */
.i-glide-g:before { content: '\f2a6'; } /* '' */
.i-sign-language:before { content: '\f2a7'; } /* '' */
.i-low-vision:before { content: '\f2a8'; } /* '' */
.i-viadeo:before { content: '\f2a9'; } /* '' */
.i-viadeo-square:before { content: '\f2aa'; } /* '' */
.i-snapchat:before { content: '\f2ab'; } /* '' */
.i-snapchat-ghost:before { content: '\f2ac'; } /* '' */
.i-snapchat-square:before { content: '\f2ad'; } /* '' */
.i-pied-piper:before { content: '\f2ae'; } /* '' */
.i-first-order:before { content: '\f2b0'; } /* '' */
.i-yoast:before { content: '\f2b1'; } /* '' */
.i-themeisle:before { content: '\f2b2'; } /* '' */
.i-google-plus-circle:before { content: '\f2b3'; } /* '' */
.i-font-awesome:before { content: '\f2b4'; } /* '' */
.i-handshake-o:before { content: '\f2b5'; } /* '' */
.i-envelope-open:before { content: '\f2b6'; } /* '' */
.i-envelope-open-o:before { content: '\f2b7'; } /* '' */
.i-linode:before { content: '\f2b8'; } /* '' */
.i-address-book:before { content: '\f2b9'; } /* '' */
.i-address-book-o:before { content: '\f2ba'; } /* '' */
.i-address-card:before { content: '\f2bb'; } /* '' */
.i-address-card-o:before { content: '\f2bc'; } /* '' */
.i-user-circle:before { content: '\f2bd'; } /* '' */
.i-user-circle-o:before { content: '\f2be'; } /* '' */
.i-user-o:before { content: '\f2c0'; } /* '' */
.i-id-badge:before { content: '\f2c1'; } /* '' */
.i-id-card:before { content: '\f2c2'; } /* '' */
.i-id-card-o:before { content: '\f2c3'; } /* '' */
.i-quora:before { content: '\f2c4'; } /* '' */
.i-free-code-camp:before { content: '\f2c5'; } /* '' */
.i-telegram:before { content: '\f2c6'; } /* '' */
.i-thermometer:before { content: '\f2c7'; } /* '' */
.i-thermometer-3:before { content: '\f2c8'; } /* '' */
.i-thermometer-2:before { content: '\f2c9'; } /* '' */
.i-thermometer-quarter:before { content: '\f2ca'; } /* '' */
.i-thermometer-0:before { content: '\f2cb'; } /* '' */
.i-shower:before { content: '\f2cc'; } /* '' */
.i-bath:before { content: '\f2cd'; } /* '' */
.i-podcast:before { content: '\f2ce'; } /* '' */
.i-window-maximize:before { content: '\f2d0'; } /* '' */
.i-window-minimize:before { content: '\f2d1'; } /* '' */
.i-window-restore:before { content: '\f2d2'; } /* '' */
.i-window-close:before { content: '\f2d3'; } /* '' */
.i-window-close-o:before { content: '\f2d4'; } /* '' */
.i-bandcamp:before { content: '\f2d5'; } /* '' */
.i-grav:before { content: '\f2d6'; } /* '' */
.i-etsy:before { content: '\f2d7'; } /* '' */
.i-imdb:before { content: '\f2d8'; } /* '' */
.i-ravelry:before { content: '\f2d9'; } /* '' */
.i-eercast:before { content: '\f2da'; } /* '' */
.i-microchip:before { content: '\f2db'; } /* '' */
.i-snowflake-o:before { content: '\f2dc'; } /* '' */
.i-superpowers:before { content: '\f2dd'; } /* '' */
.i-wpexplorer:before { content: '\f2de'; } /* '' */
.i-meetup:before { content: '\f2e0'; } /* '' */
.i-github-squared:before { content: '\f300'; } /* '' */
.i-twitter-squared:before { content: '\f304'; } /* '' */
.i-facebook-squared:before { content: '\f308'; } /* '' */
.i-linkedin-squared:before { content: '\f30c'; } /* '' */